### Store jour confidential variables here
PROJECT_NAME:
MODEL_TARGET:
DATA_SOURCE:


# Model Lifecycle
MLFLOW_TRACKING_URI:
MLFLOW_EXPERIMENT:
MLFLOW_MODEL_NAME:

#Path
LOCAL_DATA_PATH:
LOCAL_REGISTRY_PATH:

# GCP Project
PROJECT:
REGION:
INSTANCE:

GCR_MULTI_REGION:
IMAGE:
MEMORY:
